In [ ]:
import pandas as pd

In [ ]:
# Import the data
data = pd.read_csv('Subset 4 - 2022_2023 PSES open dataset - with labels_Sous-ensemble 4 - Ensemble de données ouvertes du SAFF de 2022_23.csv', encoding='latin-1')

In [ ]:
data.shape

(108731, 35)

In [ ]:
# show head of the data, and show all the columns
pd.set_option('display.max_columns', None)
data.head()

,LEVEL1ID,LEVEL2ID,LEVEL3ID,LEVEL4ID,LEVEL5ID,SURVEYR,BYCOND,descrip_E,descrip_F,DEMCODE,QUESTION,TITLE_E,TITLE_F,answer1,answer2,answer3,answer4,answer5,answer6,answer7,MOST_POSITIVE_OR_LEAST_NEGATIVE,NEUTRAL_OR_MIDDLE_CATEGORY,MOST_NEGATIVE_OR_LEAST_POSITIVE,AGREE,SCORE5,SCORE100,ANSCOUNT,DEPT_E,DEPT_F,INDICATORID,INDICATORENG,INDICATORFRA,SUBINDICATORID,SUBINDICATORENG,SUBINDICATORFRA
0,0,0,0,0,0,2022,Q105A = 001,AB,AB,1163,Q01,"Question 1. I have the tools, technology and e...","Question 1. Je dispose des outils, de la techn...",23.0,38.0,10.0,14.0,16.0,0.0,0.0,61.0,10.0,30.0,61.0,3.38,60.0,50.0,Public Service,Fonction publique,4.0,Workplace,Milieu de travail,14.0,Physical environment and equipment,Environnement physique et équipement
1,95,0,0,0,0,2022,Q105A = 001,AB,AB,1163,Q01,"Question 1. I have the tools, technology and e...","Question 1. Je dispose des outils, de la techn...",23.0,38.0,10.0,14.0,16.0,0.0,0.0,61.0,10.0,30.0,61.0,3.38,60.0,50.0,Micro-organizations combined,Micro-organisations combinées,4.0,Workplace,Milieu de travail,14.0,Physical environment and equipment,Environnement physique et équipement
2,0,0,0,0,0,2022,OCCLEVEL = 002,AB-03,AB-03,1165,Q01,"Question 1. I have the tools, technology and e...","Question 1. Je dispose des outils, de la techn...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Public Service,Fonction publique,4.0,Workplace,Milieu de travail,14.0,Physical environment and equipment,Environnement physique et équipement
3,95,0,0,0,0,2022,OCCLEVEL = 002,AB-03,AB-03,1165,Q01,"Question 1. I have the tools, technology and e...","Question 1. Je dispose des outils, de la techn...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Micro-organizations combined,Micro-organisations combinées,4.0,Workplace,Milieu de travail,14.0,Physical environment and equipment,Environnement physique et équipement
4,0,0,0,0,0,2022,OCCLEVEL = 003,AB-04,AB-04,1166,Q01,"Question 1. I have the tools, technology and e...","Question 1. Je dispose des outils, de la techn...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Public Service,Fonction publique,4.0,Workplace,Milieu de travail,14.0,Physical environment and equipment,Environnement physique et équipement

In [ ]:
data.tail()

,LEVEL1ID,LEVEL2ID,LEVEL3ID,LEVEL4ID,LEVEL5ID,SURVEYR,BYCOND,descrip_E,descrip_F,DEMCODE,QUESTION,TITLE_E,TITLE_F,answer1,answer2,answer3,answer4,answer5,answer6,answer7,MOST_POSITIVE_OR_LEAST_NEGATIVE,NEUTRAL_OR_MIDDLE_CATEGORY,MOST_NEGATIVE_OR_LEAST_POSITIVE,AGREE,SCORE5,SCORE100,ANSCOUNT,DEPT_E,DEPT_F,INDICATORID,INDICATORENG,INDICATORFRA,SUBINDICATORID,SUBINDICATORENG,SUBINDICATORFRA
108726,40,0,0,0,0,2022,OCCLEVEL = 193,EX-03,EX-03,1391,Q17,Question 17. I can complete my assigned worklo...,Question 17. J'arrive à accomplir les tâches q...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Office of the Chief Electoral Officer,Bureau du Directeur général des élections,3.0,Workforce,Effectif,7.0,Work-life balance and workload,Équilibre travail-vie privée et charge de travail
108727,41,0,0,0,0,2022,OCCLEVEL = 193,EX-03,EX-03,1391,Q17,Question 17. I can complete my assigned worklo...,Question 17. J'arrive à accomplir les tâches q...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canadian Human Rights Commission,Commission canadienne des droits de la personne,3.0,Workforce,Effectif,7.0,Work-life balance and workload,Équilibre travail-vie privée et charge de travail
108728,42,0,0,0,0,2022,OCCLEVEL = 193,EX-03,EX-03,1391,Q17,Question 17. I can complete my assigned worklo...,Question 17. J'arrive à accomplir les tâches q...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Office of the Commissioner of Official Languages,Commissariat aux langues officielles,3.0,Workforce,Effectif,7.0,Work-life balance and workload,Équilibre travail-vie privée et charge de travail
108729,46,0,0,0,0,2022,OCCLEVEL = 193,EX-03,EX-03,1391,Q17,Question 17. I can complete my assigned worklo...,Question 17. J'arrive à accomplir les tâches q...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Public Prosecution Service of Canada,Service des poursuites pénales du Canada,3.0,Workforce,Effectif,7.0,Work-life balance and workload,Équilibre travail-vie privée et charge de travail
108730,47,0,0,0,0,2022,OCCLEVEL = 193,EX-03,EX-03,1391,Q17,Question 17. I can complete my assigned worklo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108731 entries, 0 to 108730
Data columns (total 35 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   LEVEL1ID                         108731 non-null  int64
 1   LEVEL2ID                         108731 non-null  int64
 2   LEVEL3ID                         108731 non-null  int64
 3   LEVEL4ID                         108731 non-null  int64
 4   LEVEL5ID                         108731 non-null  int64
 5   SURVEYR                          108731 non-null  int64
 6   BYCOND                           108731 non-null  object
 7   descrip_E                        108731 non-null  object
 8   descrip_F                        108731 non-null  object
 9   DEMCODE                          108731 non-null  int64
 10  QUESTION                         108731 non-null  object
 11  TITLE_E                          108731 non-null  object
 12  TITLE_F                          108730 non-null  object
 13  answer1                          54316 non-null   float64
 14  answer2                          54316 non-null   float64
 15  answer3                          54316 non-null   float64
 16  answer4                          54316 non-null   float64
 17  answer5                          54316 non-null   float64
 18  answer6                          54316 non-null   float64
 19  answer7                          54316 non-null   float64
 20  MOST_POSITIVE_OR_LEAST_NEGATIVE  54316 non-null   float64
 21  NEUTRAL_OR_MIDDLE_CATEGORY       54316 non-null   float64
 22  MOST_NEGATIVE_OR_LEAST_POSITIVE  54316 non-null   float64
 23  AGREE                            54316 non-null   float64
 24  SCORE5                           54316 non-null   float64
 25  SCORE100                         54316 non-null   float64
 26  ANSCOUNT                         54316 non-null   float64
 27  DEPT_E                           108730 non-null  object
 28  DEPT_F                           108730 non-null  object
 29  INDICATORID                      108730 non-null  float64
 30  INDICATORENG                     108730 non-null  object
 31  INDICATORFRA                     108730 non-null  object
 32  SUBINDICATORID                   108730 non-null  float64
 33  SUBINDICATORENG                  108730 non-null  object
 34  SUBINDICATORFRA                  108730 non-null  object
dtypes: float64(16), int64(7), object(12)
memory usage: 29.0+ MB

In [ ]:
# change the name of column answer1 to ANSWER1, column name answer2 to ANSWER2
df.rename(columns={'answer1': 'ANSWER1', 'answer2': 'ANSWER2', 'answer3': 'ANSWER3', 'answer4': 'ANSWER4', 'answer5': 'ANSWER5', 'answer6': 'ANSWER6', 'answer7': 'ANSWER7'}, inplace=True)

In [ ]:
# extract the df to be equal only where LEVEL1ID = 0 or 6
df = df[df['LEVEL1ID'].isin([6, 0])]
df.head()

NameError: name 'df' is not defined

In [ ]:
df.shape

(16253, 30)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16253 entries, 0 to 108698
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   LEVEL1ID                         16253 non-null  int64
 1   LEVEL2ID                         16253 non-null  int64
 2   LEVEL3ID                         16253 non-null  int64
 3   LEVEL4ID                         16253 non-null  int64
 4   LEVEL5ID                         16253 non-null  int64
 5   SURVEYR                          16253 non-null  int64
 6   BYCOND                           16253 non-null  object
 7   descrip_E                        16253 non-null  object
 8   DEMCODE                          16253 non-null  int64
 9   QUESTION                         16253 non-null  object
 10  TITLE_E                          16253 non-null  object
 11  ANSWER1                          10908 non-null  float64
 12  ANSWER2                          10908 non-null  float64
 13  ANSWER3                          10908 non-null  float64
 14  ANSWER4                          10908 non-null  float64
 15  ANSWER5                          10908 non-null  float64
 16  ANSWER6                          10908 non-null  float64
 17  ANSWER7                          10908 non-null  float64
 18  MOST_POSITIVE_OR_LEAST_NEGATIVE  10908 non-null  float64
 19  NEUTRAL_OR_MIDDLE_CATEGORY       10908 non-null  float64
 20  MOST_NEGATIVE_OR_LEAST_POSITIVE  10908 non-null  float64
 21  AGREE                            10908 non-null  float64
 22  SCORE5                           10908 non-null  float64
 23  SCORE100                         10908 non-null  float64
 24  ANSCOUNT                         10908 non-null  float64
 25  DEPT_E                           16253 non-null  object
 26  INDICATORID                      16253 non-null  float64
 27  INDICATORENG                     16253 non-null  object
 28  SUBINDICATORID                   16253 non-null  float64
 29  SUBINDICATORENG                  16253 non-null  object
dtypes: float64(16), int64(7), object(7)
memory usage: 3.8+ MB

In [ ]:
# find the null values in the df
df.isnull().sum()

LEVEL1ID                              0
LEVEL2ID                              0
LEVEL3ID                              0
LEVEL4ID                              0
LEVEL5ID                              0
SURVEYR                               0
BYCOND                                0
descrip_E                             0
DEMCODE                               0
QUESTION                              0
TITLE_E                               0
ANSWER1                            5345
ANSWER2                            5345
ANSWER3                            5345
ANSWER4                            5345
ANSWER5                            5345
ANSWER6                            5345
ANSWER7                            5345
MOST_POSITIVE_OR_LEAST_NEGATIVE    5345
NEUTRAL_OR_MIDDLE_CATEGORY         5345
MOST_NEGATIVE_OR_LEAST_POSITIVE    5345
AGREE                              5345
SCORE5                             5345
SCORE100                           5345
ANSCOUNT                           5345
DEPT_E                                0
INDICATORID                           0
INDICATORENG                          0
SUBINDICATORID                        0
SUBINDICATORENG                       0
dtype: int64

In [ ]:
# records where ANSWER1 = 'X'
df[df['ANSWER3'] == 'X']

Empty DataFrame
Columns: [LEVEL1ID, LEVEL2ID, LEVEL3ID, LEVEL4ID, LEVEL5ID, SURVEYR, BYCOND, descrip_E, DEMCODE, QUESTION, TITLE_E, ANSWER1, ANSWER2, ANSWER3, ANSWER4, ANSWER5, ANSWER6, ANSWER7, MOST_POSITIVE_OR_LEAST_NEGATIVE, NEUTRAL_OR_MIDDLE_CATEGORY, MOST_NEGATIVE_OR_LEAST_POSITIVE, AGREE, SCORE5, SCORE100, ANSCOUNT, DEPT_E, INDICATORID, INDICATORENG, SUBINDICATORID, SUBINDICATORENG]
Index: []

In [ ]:
# records where ANSWER3 or ANSWER4 or ANSWER5 or ANSWER6 or ANSWER7 = '9999'
df[(df['ANSWER3'] == '9999') | (df['ANSWER4'] == '9999') |(df['ANSWER5'] == '9999') |(df['ANSWER5'] == '9999') |(df['ANSWER7'] == '9999')]

Empty DataFrame
Columns: [LEVEL1ID, LEVEL2ID, LEVEL3ID, LEVEL4ID, LEVEL5ID, SURVEYR, BYCOND, descrip_E, DEMCODE, QUESTION, TITLE_E, ANSWER1, ANSWER2, ANSWER3, ANSWER4, ANSWER5, ANSWER6, ANSWER7, MOST_POSITIVE_OR_LEAST_NEGATIVE, NEUTRAL_OR_MIDDLE_CATEGORY, MOST_NEGATIVE_OR_LEAST_POSITIVE, AGREE, SCORE5, SCORE100, ANSCOUNT, DEPT_E, INDICATORID, INDICATORENG, SUBINDICATORID, SUBINDICATORENG]
Index: []

In [ ]:
# Replace and value in the dataset that equal to '9999' with NaN
df.replace([9999, '9999'], pd.NA, inplace=True)

In [ ]:
# records where ANSWER3 or ANSWER4 or ANSWER5 or ANSWER6 or ANSWER7 = '9999'
df[(df['ANSWER3'] == '9999') | (df['ANSWER4'] == '9999') |(df['ANSWER5'] == '9999') |(df['ANSWER5'] == '9999') |(df['ANSWER7'] == '9999')]

Empty DataFrame
Columns: [LEVEL1ID, LEVEL2ID, LEVEL3ID, LEVEL4ID, LEVEL5ID, SURVEYR, BYCOND, descrip_E, DEMCODE, QUESTION, TITLE_E, ANSWER1, ANSWER2, ANSWER3, ANSWER4, ANSWER5, ANSWER6, ANSWER7, MOST_POSITIVE_OR_LEAST_NEGATIVE, NEUTRAL_OR_MIDDLE_CATEGORY, MOST_NEGATIVE_OR_LEAST_POSITIVE, AGREE, SCORE5, SCORE100, ANSCOUNT, DEPT_E, INDICATORID, INDICATORENG, SUBINDICATORID, SUBINDICATORENG]
Index: []

In [ ]:
# Replace and value in the dataset that equal to 'X' with NaN
df = df.replace('X', pd.NA)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16253 entries, 0 to 108698
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   LEVEL1ID                         16253 non-null  int64
 1   LEVEL2ID                         16253 non-null  int64
 2   LEVEL3ID                         16253 non-null  int64
 3   LEVEL4ID                         16253 non-null  int64
 4   LEVEL5ID                         16253 non-null  int64
 5   SURVEYR                          16253 non-null  int64
 6   BYCOND                           16253 non-null  object
 7   descrip_E                        16253 non-null  object
 8   DEMCODE                          16253 non-null  int64
 9   QUESTION                         16253 non-null  object
 10  TITLE_E                          16253 non-null  object
 11  ANSWER1                          10908 non-null  float64
 12  ANSWER2                          10908 non-null  float64
 13  ANSWER3                          10908 non-null  float64
 14  ANSWER4                          10908 non-null  float64
 15  ANSWER5                          10908 non-null  float64
 16  ANSWER6                          10908 non-null  float64
 17  ANSWER7                          10908 non-null  float64
 18  MOST_POSITIVE_OR_LEAST_NEGATIVE  10908 non-null  float64
 19  NEUTRAL_OR_MIDDLE_CATEGORY       10908 non-null  float64
 20  MOST_NEGATIVE_OR_LEAST_POSITIVE  10908 non-null  float64
 21  AGREE                            10908 non-null  float64
 22  SCORE5                           10908 non-null  float64
 23  SCORE100                         10908 non-null  float64
 24  ANSCOUNT                         10908 non-null  float64
 25  DEPT_E                           16253 non-null  object
 26  INDICATORID                      16253 non-null  float64
 27  INDICATORENG                     16253 non-null  object
 28  SUBINDICATORID                   16253 non-null  float64
 29  SUBINDICATORENG                  16253 non-null  object
dtypes: float64(16), int64(7), object(7)
memory usage: 3.8+ MB

In [ ]:
# Change the data type of BYCOND to object
df['BYCOND'] = df['BYCOND'].astype(object)

In [ ]:
# Change the data type of DEMCODE to int
df['DEMCODE'] = df['DEMCODE'].astype('Int64')

In [ ]:
answers_cols = ['ANSWER1', 'ANSWER2', 'ANSWER3', 'ANSWER4', 'ANSWER5', 'ANSWER6', 'ANSWER7']

In [ ]:
df[answers_cols] = df[answers_cols].apply(pd.to_numeric, errors='coerce')

In [ ]:
# Change the data type of answers columns  to integer
df[answers_cols] = df[answers_cols].astype('Int64')

In [ ]:
# Select the desired columns using a list
cols_to_convert = ['MOST_POSITIVE_OR_LEAST_NEGATIVE', 'NEUTRAL_OR_MIDDLE_CATEGORY', 'MOST_NEGATIVE_OR_LEAST_POSITIVE','AGREE','SCORE5','SCORE100','ANSCOUNT']
# Apply pd.to_numeric to the selected columns
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')

In [ ]:
# Change the data type of columns ANSWER1 and ANSWER2 to integer
df[cols_to_convert] = df[cols_to_convert].astype(pd.Int64Dtype(),errors='ignore')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16253 entries, 0 to 108698
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   LEVEL1ID                         16253 non-null  int64
 1   LEVEL2ID                         16253 non-null  int64
 2   LEVEL3ID                         16253 non-null  int64
 3   LEVEL4ID                         16253 non-null  int64
 4   LEVEL5ID                         16253 non-null  int64
 5   SURVEYR                          16253 non-null  int64
 6   BYCOND                           16253 non-null  object
 7   descrip_E                        16253 non-null  object
 8   DEMCODE                          16253 non-null  Int64
 9   QUESTION                         16253 non-null  object
 10  TITLE_E                          16253 non-null  object
 11  ANSWER1                          10908 non-null  Int64
 12  ANSWER2                          10908 non-null  Int64
 13  ANSWER3                          10908 non-null  Int64
 14  ANSWER4                          10908 non-null  Int64
 15  ANSWER5                          10908 non-null  Int64
 16  ANSWER6                          10908 non-null  Int64
 17  ANSWER7                          10908 non-null  Int64
 18  MOST_POSITIVE_OR_LEAST_NEGATIVE  10908 non-null  Int64
 19  NEUTRAL_OR_MIDDLE_CATEGORY       10908 non-null  Int64
 20  MOST_NEGATIVE_OR_LEAST_POSITIVE  10908 non-null  Int64
 21  AGREE                            10908 non-null  Int64
 22  SCORE5                           10908 non-null  float64
 23  SCORE100                         10908 non-null  Int64
 24  ANSCOUNT                         10908 non-null  Int64
 25  DEPT_E                           16253 non-null  object
 26  INDICATORID                      16253 non-null  float64
 27  INDICATORENG                     16253 non-null  object
 28  SUBINDICATORID                   16253 non-null  float64
 29  SUBINDICATORENG                  16253 non-null  object
dtypes: Int64(14), float64(3), int64(6), object(7)
memory usage: 4.1+ MB

In [ ]:
# Create new column call it SUM_ANSRS, fill it with the sum of columns ANSWER1 and ANSWER2 and ANSWER3 andANSWER4 and ANSWER5 and ANSWER6 and ANSWER7
#df['SUM_ANSRS'] = df['ANSWER1'] + df['ANSWER2'] + df['ANSWER3']+ df['ANSWER4']+ df['ANSWER4']+ df['ANSWER6']+ df['ANSWER7']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16253 entries, 0 to 108698
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   LEVEL1ID                         16253 non-null  int64
 1   LEVEL2ID                         16253 non-null  int64
 2   LEVEL3ID                         16253 non-null  int64
 3   LEVEL4ID                         16253 non-null  int64
 4   LEVEL5ID                         16253 non-null  int64
 5   SURVEYR                          16253 non-null  int64
 6   BYCOND                           16253 non-null  object
 7   descrip_E                        16253 non-null  object
 8   DEMCODE                          16253 non-null  Int64
 9   QUESTION                         16253 non-null  object
 10  TITLE_E                          16253 non-null  object
 11  ANSWER1                          10908 non-null  Int64
 12  ANSWER2                          10908 non-null  Int64
 13  ANSWER3                          10908 non-null  Int64
 14  ANSWER4                          10908 non-null  Int64
 15  ANSWER5                          10908 non-null  Int64
 16  ANSWER6                          10908 non-null  Int64
 17  ANSWER7                          10908 non-null  Int64
 18  MOST_POSITIVE_OR_LEAST_NEGATIVE  10908 non-null  Int64
 19  NEUTRAL_OR_MIDDLE_CATEGORY       10908 non-null  Int64
 20  MOST_NEGATIVE_OR_LEAST_POSITIVE  10908 non-null  Int64
 21  AGREE                            10908 non-null  Int64
 22  SCORE5                           10908 non-null  float64
 23  SCORE100                         10908 non-null  Int64
 24  ANSCOUNT                         10908 non-null  Int64
 25  DEPT_E                           16253 non-null  object
 26  INDICATORID                      16253 non-null  float64
 27  INDICATORENG                     16253 non-null  object
 28  SUBINDICATORID                   16253 non-null  float64
 29  SUBINDICATORENG                  16253 non-null  object
dtypes: Int64(14), float64(3), int64(6), object(7)
memory usage: 4.1+ MB

In [ ]:
df.head()

,LEVEL1ID,LEVEL2ID,LEVEL3ID,LEVEL4ID,LEVEL5ID,SURVEYR,BYCOND,descrip_E,DEMCODE,QUESTION,TITLE_E,ANSWER1,ANSWER2,ANSWER3,ANSWER4,ANSWER5,ANSWER6,ANSWER7,MOST_POSITIVE_OR_LEAST_NEGATIVE,NEUTRAL_OR_MIDDLE_CATEGORY,MOST_NEGATIVE_OR_LEAST_POSITIVE,AGREE,SCORE5,SCORE100,ANSCOUNT,DEPT_E,INDICATORID,INDICATORENG,SUBINDICATORID,SUBINDICATORENG
0,0,0,0,0,0,2022,Q105A = 001,AB,1163,Q01,"Question 1. I have the tools, technology and e...",23,38,10,14,16,0,0,61,10,30,61,3.38,60,50,Public Service,4.0,Workplace,14.0,Physical environment and equipment
2,0,0,0,0,0,2022,OCCLEVEL = 002,AB-03,1165,Q01,"Question 1. I have the tools, technology and e...",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,Public Service,4.0,Workplace,14.0,Physical environment and equipment
4,0,0,0,0,0,2022,OCCLEVEL = 003,AB-04,1166,Q01,"Question 1. I have the tools, technology and e...",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,Public Service,4.0,Workplace,14.0,Physical environment and equipment
6,0,0,0,0,0,2022,OCCLEVEL = 004,AB-05,1167,Q01,"Question 1. I have the tools, technology and e...",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,Public Service,4.0,Workplace,14.0,Physical environment and equipment
8,0,0,0,0,0,2022,OCCLEVEL = 005,AB-06,1168,Q01,"Question 1. I have the tools, technology and e...",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,Public Service,4.0,Workplace,14.0,Physical environment and equipment

In [ ]:
answer_cols = ["ANSWER1", "ANSWER2", "ANSWER3", "ANSWER4", "ANSWER5", "ANSWER6"]
df[answer_cols] = df[answer_cols].apply(pd.to_numeric, errors='coerce')

In [ ]:

# CASE 1: If ANSWER3 is null
df.loc[df['ANSWER3'].isna(), 'MOST_POSITIVE_OR_LEAST_NEGATIVE'] = df['ANSWER1']
df.loc[df['ANSWER3'].isna(), 'MOST_NEGATIVE_OR_LEAST_POSITIVE'] = df['ANSWER2']

# CASE 2: If ANSWER3 is not null and ANSWER4 is null
df.loc[df['ANSWER3'].notna() & df['ANSWER4'].isna(), 'MOST_POSITIVE_OR_LEAST_NEGATIVE'] = df['ANSWER1']
df.loc[df['ANSWER3'].notna() & df['ANSWER4'].isna(), 'NEUTRAL_OR_MIDDLE_CATEGORY'] = df['ANSWER2']
df.loc[df['ANSWER3'].notna() & df['ANSWER4'].isna(), 'MOST_NEGATIVE_OR_LEAST_POSITIVE'] = df['ANSWER3']

# CASE 3: If ANSWER3 is not null, ANSWER4 is not null, and ANSWER5 is null
df.loc[df['ANSWER3'].notna() & df['ANSWER4'].notna() & df['ANSWER5'].isna(), 'MOST_POSITIVE_OR_LEAST_NEGATIVE'] = df['ANSWER1'] + df['ANSWER2']
df.loc[df['ANSWER3'].notna() & df['ANSWER4'].notna() & df['ANSWER5'].isna(), 'NEUTRAL_OR_MIDDLE_CATEGORY'] = df['ANSWER3']
df.loc[df['ANSWER3'].notna() & df['ANSWER4'].notna() & df['ANSWER5'].isna(), 'MOST_NEGATIVE_OR_LEAST_POSITIVE'] = df['ANSWER4']

# CASE 4: If ANSWER3, ANSWER4, ANSWER5 are not null, and ANSWER6 is null
df.loc[df['ANSWER3'].notna() & df['ANSWER4'].notna() & df['ANSWER5'].notna() & df['ANSWER6'].isna(), 'MOST_POSITIVE_OR_LEAST_NEGATIVE'] = df['ANSWER1'] + df['ANSWER2']
df.loc[df['ANSWER3'].notna() & df['ANSWER4'].notna() & df['ANSWER5'].notna() & df['ANSWER6'].isna(), 'NEUTRAL_OR_MIDDLE_CATEGORY'] = df['ANSWER3']
df.loc[df['ANSWER3'].notna() & df['ANSWER4'].notna() & df['ANSWER5'].notna() & df['ANSWER6'].isna(), 'MOST_NEGATIVE_OR_LEAST_POSITIVE'] = df['ANSWER4']

In [ ]:
df.isnull().sum()

LEVEL1ID                              0
LEVEL2ID                              0
LEVEL3ID                              0
LEVEL4ID                              0
LEVEL5ID                              0
SURVEYR                               0
BYCOND                                0
descrip_E                             0
DEMCODE                               0
QUESTION                              0
TITLE_E                               0
ANSWER1                            5345
ANSWER2                            5345
ANSWER3                            5345
ANSWER4                            5345
ANSWER5                            5345
ANSWER6                            5345
ANSWER7                            5345
MOST_POSITIVE_OR_LEAST_NEGATIVE    5345
NEUTRAL_OR_MIDDLE_CATEGORY         5345
MOST_NEGATIVE_OR_LEAST_POSITIVE    5345
AGREE                              5345
SCORE5                             5345
SCORE100                           5345
ANSCOUNT                           5345
DEPT_E                                0
INDICATORID                           0
INDICATORENG                          0
SUBINDICATORID                        0
SUBINDICATORENG                       0
dtype: int64

In [ ]:
# export the dataset df_HC to a csv file and call it subset1_HealthCanada
df.to_csv('subset1_cleaned.csv', index=False)

In [ ]:
# in 'QUESTION' where the Values = D56_1 change it to Q56_1
df.loc[df['QUESTION'] == 'D56_1', 'QUESTION'] = 'Q56_1'

In [ ]:
# in 'QUESTION' where the Values = D56_2 change it to Q56_2
df.loc[df['QUESTION'] == 'D56_2', 'QUESTION'] = 'Q56_2'

In [ ]:

# Define the columns to be set to NaN
cols_to_nullify = [
    "MOST_POSITIVE_OR_LEAST_NEGATIVE",
    "NEUTRAL_OR_MIDDLE_CATEGORY",
    "MOST_NEGATIVE_OR_LEAST_POSITIVE",
    "AGREE",
    "SCORE5",
    "SCORE100"
]

# Set the columns to NaN where QUESTIONS that doesnt have sentiment asnwers
df.loc[df['QUESTION'].isin(['Q56_1', 'Q56_2', 'Q81', 'Q83', 'Q93', 'Q95']), cols_to_nullify] = pd.NA

In [ ]:
# Set the values where QUESTION is 'Q88'
df.loc[df['QUESTION'] == 'Q88', 'MOST_POSITIVE_OR_LEAST_NEGATIVE'] = df['ANSWER2']
df.loc[df['QUESTION'] == 'Q88', 'MOST_NEGATIVE_OR_LEAST_POSITIVE'] = df['ANSWER1']
df.loc[df['QUESTION'] == 'Q88', 'NEUTRAL_OR_MIDDLE_CATEGORY'] = df['ANSWER3'] + df['ANSWER4']

In [ ]:
import re

# Define the pattern to match questions like Q57, Q58, Q59, etc., including any suffix (e.g., Q58a, Q58b, etc.)
questions_pattern = r'Q(57|58|59|60|61|64|65|67|68)[a-zA-Z]?'

# Set the values where QUESTION matches the pattern
df.loc[df['QUESTION'].str.match(questions_pattern), 'MOST_POSITIVE_OR_LEAST_NEGATIVE'] = df['ANSWER2']
df.loc[df['QUESTION'].str.match(questions_pattern), 'MOST_NEGATIVE_OR_LEAST_POSITIVE'] = df['ANSWER1']

In [ ]:
# export the dataset df_HC to a csv file and call it subset1_HealthCanada
df.to_csv('subset4_cleaned.csv', index=False)